.user-item {
  padding: var(--space-sm);
  border-bottom: 1px solid var(--color-border-light);
  transition: background-color 0.2s ease; 
}

.user-item:hover {
   background-color: var(--color-primary-hover);
}

.user-item__row {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  min-height: 25px;
  cursor: default;
}

.user-item__name {
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: var(--font-size-lg);
}

.user-item__actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-sm);
}
.user-item__icon-button{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background: transparent;
  border: none;
  border-radius: var(--radius-sm);

  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;

}

.user-item__icon-button:hover {
  background-color: var(--color-primary-hover);
  transform: scale(1.2);
  opacity: 0.8;
}

/*
.svg-button .fa-star {
  color: gold;
}
*/

.user-item__actions svg {
  display: block;
  color: var(--color-primary);
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.15s ease, opacity 0.15s ease;
}


.user-item__actions svg:active{
  transform: scale(0.95);
}

@media (min-width: 480px) {
  .user-item__row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}


